body, html, #visualization {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;

	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

body {
	background-color: #fdfdfd;
	overflow: hidden;
}

circle {
	fill: #000088;
	opacity: 0.6;
	z-index: 2;
}

line {
	stroke: #888;
	opacity: 0.6;
	stroke-linecap: round;
	z-index: 1;
}

#visualization {
	margin-left: 200px;
}

svg circle,
svg text {
	cursor: pointer;
}

svg text {
	fill: transparent;
	font-weight: bold;
	font-size: 12px;
}

svg g:hover circle {
	opacity: 0.8;
}

svg g circle:hover + text {
	fill: #000;
}

section#filter {
	background-color: rgba(0,0,0,.8);
	box-shadow: 3px 0px 3px rgba(0,0,0,.5);
	color: #fff;
	height: 100%;
	padding: 0 15px;
	position: absolute;
	width: 250px;
}

.ui-slider {
	margin: 0 10px 5px;
}

.min {
	float: left;
	padding-left: 10px;
}

.max {
	float: right;
	padding-right: 10px;
}

h1 {
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
}

h3 {
	clear: both;
	margin-bottom: 8px;
	padding-top: 10px;
}